<aside>
  <p>Menu</p>
  <a href="/admin"> <i class="fa fa-user-o" aria-hidden="true"></i> Home </a>
  <a href="/admin_panel">
    <i class="fa fa-laptop" aria-hidden="true"></i> Account Management
  </a>
  <a href="/event">
    <i class="fa fa-clone" aria-hidden="true"></i> Event Management
  </a>
  <a href="/faculty">
    <i class="fa fa-star-o" aria-hidden="true"></i> Faculty Management
  </a>
  <button class="logout-btn" onclick="logout()">Logout</button>
</aside>
